services:
  app:
    build:
      context: .
      target: dev
    ports:
      - "3000:3000"
      - "24678:24678"
    volumes:
      - .:/app
      - app_node_modules:/app/node_modules
    command: sh -c "bun install && bun run dev"
    environment:
      - NODE_ENV=development
    restart: unless-stopped

volumes:
  app_node_modules:
